@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer components {
  .heroButton {
    @apply px-4 py-1 my-3 border border-[#242424] rounded-full uppercase text-[11px] border-transparent tracking-widest text-gray-500 transition-all hover:border-[#5aa5e6]/80 hover:text-[#5aa5e6] hover:font-bold hover:border-s-2 md:text-sm md:py-2;
  }

  .card {
    @apply shadow-[15px_15px_30px_rgb(25,25,25),15px_15px_20px_rgb(70,90,90)];
  }
  .contactInput {
    @apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-4 border-[#242424]  text-gray-500 placeholder-gray-500 transition-all focus:border-[#a2a8d3]/40 text-[14px] md:px-16 md:py-8 
    focus:text-[#4e6187];
  }

  .background {
    /* background: linear-gradient(-45deg, #8691b3, #edeef3); */
    @apply bg-[#1B1B1B];
  }

  @keyframes ping {
    75%,
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }

  .ping_animation {
    animation: ping 3s cubic-bezier(0, 0, 0.2, 1) infinite;
  }

  @keyframes bounce {
    0%,
    100% {
      transform: translateX(0%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateX(500%);
      animation-timing-function: cubic-bezier(0, 0, 0.5, 1);
    }
  }
  .line {
    animation: bounce 3s infinite;
  }

  .footerText {
    text-transform: uppercase;
    background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .nameText {
    background: linear-gradient(90deg, #4ac7fa 0%, #e649f5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .headerText {
    background: linear-gradient(90deg, #4ac7fa 0%, #e649f5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @media (min-width: 600px) {
    .expanded {
      width: 80%;
    }
  }

  @media (min-width: 768px) {
    .expanded {
      width: 60%;
    }
  }

  @media (min-width: 1024px) {
    .expanded {
      width: 50%;
    }
  }

  /*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
  .light-button button.bt {
    @apply relative h-[200px] flex items-end justify-center cursor-pointer border-[none];
    outline: none;
    background: none;
  }
  .light-button button.bt .button-holder {
    @apply flex flex-col items-center justify-center h-[80px] w-[200px] bg-[#0a0a0a] text-[#0f0f0f] font-bold transition-[300ms] outline-offset-[20] rounded-[5px];
    outline: #0f0f0f 2px solid;
  }
  .light-button button.bt .button-holder svg {
    @apply h-[50px] fill-[#0f0f0f] transition-[300ms];
  }
  .light-button button.bt .light-holder {
    @apply absolute h-[200px] w-[100px] flex flex-col items-center;
  }
  .light-button button.bt .light-holder .dot {
    @apply absolute w-2.5 h-2.5 bg-[#0a0a0a] z-[2] rounded-[10px] top-0;
  }
  .light-button button.bt .light-holder .light {
    @apply absolute w-[200px] h-[200px] top-0;
    clip-path: polygon(50% 0%, 25% 100%, 75% 100%);
    background: transparent;
  }
  .light-button button.bt:hover .button-holder svg {
    /* @apply fill-[rgba(88,101,242,1)]; */
    @apply fill-[#3168c0];
  }
  .light-button button.bt:hover .button-holder {
    /* @apply text-[rgba(88,101,242,1)] outline-offset-2; */
    /* outline: rgba(88, 101, 242, 1) 2px solid; */
    @apply text-[#6aa4e5] outline-offset-2;

    outline: rgb(90, 157, 239) 2px solid;
  }
  .light-button button.bt:hover .light-holder .light {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      180deg,
      rgb(88, 173, 243) 0%,
      /* rgba(88, 101, 242, 1) 0%, */ rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}
