@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

@layer components {
  .heroButton {
    @apply px-4 py-1 my-3 border border-[#242424] rounded-full uppercase text-[11px] border-transparent tracking-widest text-gray-500 transition-all hover:border-[#5aa5e6]/80 hover:text-[#5aa5e6] hover:font-bold hover:border-s-2 md:text-sm md:py-2;
  }

  .card {
    @apply shadow-[15px_15px_30px_rgb(25,25,25),15px_15px_20px_rgb(70,90,90)];
  }
  .contactInput {
    @apply outline-none bg-slate-400/10 rounded-sm border-b px-2 py-4 border-[#242424]  text-gray-500 placeholder-gray-500 transition-all focus:border-[#a2a8d3]/40 text-[14px] md:px-16 md:py-8 
    focus:text-[#4e6187];
  }

  .background {
    /* background: linear-gradient(-45deg, #8691b3, #edeef3); */
    @apply bg-[#1B1B1B];
  }

  @keyframes ping {
    75%,
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }

  .ping_animation {
    animation: ping 3s cubic-bezier(0, 0, 0.2, 1) infinite;
  }

  @keyframes bounce {
    0%,
    100% {
      transform: translateX(0%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateX(500%);
      animation-timing-function: cubic-bezier(0, 0, 0.5, 1);
    }
  }
  .line {
    animation: bounce 3s infinite;
  }

  .footerText {
    text-transform: uppercase;
    background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .nameText {
    background: linear-gradient(90deg, #4ac7fa 0%, #e649f5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .headerText {
    background: linear-gradient(90deg, #4ac7fa 0%, #e649f5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @media (min-width: 600px) {
    .expanded {
      width: 80%;
    }
  }

  @media (min-width: 768px) {
    .expanded {
      width: 60%;
    }
  }

  @media (min-width: 1024px) {
    .expanded {
      width: 50%;
    }
  }

  header {
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(15px);
  }

  nav {
    background: rgba(0, 0, 0, 0.3);
    width: min-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 100;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
  }

  nav a {
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: #c0c0c0;
    font-size: 1.1rem;
  }

  nav a:hover {
    background: rgba(0, 0, 0, 0.3);
  }

  nav a.active {
    background: gray;
    color: white;
  }
  .about-shadow {
    box-shadow: rgba(215, 209, 209, 0.24) 0px 3px 8px;
  }

  .scroll {
    white-space: nowrap;
    animation: scroll 15s linear infinite;
  }
  .scroll-opposite {
    white-space: nowrap;
    animation: scroll-opposite 15s linear infinite;
  }

  @keyframes scroll {
    0% {
      transform: translateY(20%);
    }
    100% {
      transform: translateY(-20%);
    }
  }
  @keyframes scroll-opposite {
    0% {
      transform: translateY(-20%);
    }
    100% {
      transform: translateY(20%);
    }
  }
}
