@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heroButton {
    @apply px-4 py-1 my-3 border border-[#242424] rounded-full uppercase text-[10px] border-transparent tracking-widest text-gray-500 transition-all hover:border-[#5aa5e6]/80 hover:text-[#5aa5e6] hover:font-bold hover:border-s-2 md:text-sm md:py-2;
  }
  .contactInput {
    @apply outline-none bg-slate-400/10 rounded-sm border-b px-3 py-0 border-[#242424]  text-gray-500 placeholder-gray-500 transition-all focus:border-[#a2a8d3]/40 text-[14px] md:px-16 md:py-8 
    focus:text-[#4e6187];
  }
  .background {
    /* background: linear-gradient(-45deg, #8691b3, #edeef3); */
    @apply bg-[#1B1B1B];
  }

  @keyframes ping {
    75%,
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }

  .ping_animation {
    animation: ping 3s cubic-bezier(0, 0, 0.2, 1) infinite;
  }

  @keyframes bounce {
    0%,
    100% {
      transform: translateX(0%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateX(500%);
      animation-timing-function: cubic-bezier(0, 0, 0.5, 1);
    }
  }
  .line {
    animation: bounce 3s infinite;
  }

  .footerText {
    text-transform: uppercase;
    background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .nameText {
    background: linear-gradient(90deg, #4ac7fa 0%, #e649f5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .headerText {
    background: linear-gradient(90deg, #4ac7fa 0%, #e649f5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
